[Unit]
Description=LoRaVault Headless Web Config
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/1_pi_zero_node/web/app.py
WorkingDirectory=/home/pi/1_pi_zero_node/web
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root 
# (Root required to bind to port 80 natively)

[Install]
WantedBy=multi-user.target